:root {
    primary-color: #3498db;
    secondary-color: #2ecc71;
    accent-color: #e74c3c;
    font-size: 16px; /* This sets 1rem to equal 16px */
}

* {
    font-family: "Aref Ruqaa", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: .25rem;

}
/* .aref-ruqaa-regular {
    font-family: "Aref Ruqaa", serif;
    font-weight: 400;
    font-style: normal;
  }
   */
  .aref-ruqaa-bold {
    font-family: "Aref Ruqaa", serif;
    font-weight: 700;
    font-style: normal;
  }

  body {
   
    padding:75px 200px 75px 200px;
  }
  
h1 {
font-size: 4rem;
}